<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FileAppender" class="ch.qos.logback.core.FileAppender">
        <file>build/test.log</file>
        <layout class="org.poa1024.maskedlogs.logback.AsteriskMaskingPatternLayout">
            <maskPercentage>60</maskPercentage>
            <fields>person_id, order_id</fields>
            <field>api_key</field>
            <Pattern>
                %msg%n
            </Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="FileAppender"/>
    </root>

</configuration>